@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');


body {
    margin: auto;
    /* max-width: 100%; */
    color: black;

}

.h1_A,
.h2_A {
    /* width: 20em; */
    text-align: center;
    background-color: white;
    opacity: 0.575;
    border: 0.5rem solid;
    border-style: outset;
    /* margin: 0 auto; */
    /* filter: alpha(opacity=40); */
}

.box {
    width: 40em;
    text-align: center;
    position: relative;
    margin: 0 auto;
    /* border: 3px solid #d82323; */
}

.img_container {
    /* border: 3px solid black; */
    margin: 0;
    position: relative;
    top: 50%;
    left: 40%;
    opacity: 0.575;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50, 50%);
}

.Recipes {
    /* display: inline-block; */
    display: table;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    font-family: "Bad Script";
    font-size: 25px;
}

.Recipes ul li {
    position: relative;
    left: 0;
    color: #d53a17;
    list-style: none;
    margin: 4px 0;
    border-left: 2px solid #2986cc;
    transition: 0.5s;
    cursor: pointer;

}

.Recipes ul li:hover {
    left: 10px;
}

.Recipes ul li span {
    position: relative;
    padding: 10px;
}




.Recipes {
    position: relative;
}

.footer {
    position: absolute;
    left: 10px;
    bottom: 5px;
    right: 10px;
    width: 100%;
    height: 2%;
    background-color: lightblue;
    color: black;
    text-align: center;
}