@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

* {
    box-sizing: border-box;
    /* border: 2px solid red; */
}

body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /*background-size: 100% 100vh;*/
  }

.h1_A,
.h2_A {
    /* width: 20em; */
    text-align: center;
    background-color: white;
    opacity: 0.575;
    border: 0.5rem solid;
    border-style: outset;
    /* margin: 0 auto; */
    /* filter: alpha(opacity=40); */
}

.box {
    width: 40em;
    text-align: center;
    position: relative;
    margin: 0 auto;
    /* border: 3px solid #d82323; */
}

.img_container {
    /* border: 3px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#recipeItems {
    color: pink;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px, black;
};

.Recipes {
    position: relative;
    left: 0;
    color: #d53a17;
    list-style: none;
    margin: 4px 0;
    padding-left: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.Recipes ul {
    padding-left: 0;
}

.Recipes ul li {
    position: relative;
    left: 0;
    color: #d53a17;
    list-style: none;
    margin: 4px 0;
    transition: 0.5s;
    cursor: pointer;
}


.Recipes ul li a:hover {
    background-color: white;
    color: #d53a17;
}

.Recipes ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
}

.Recipes ul li span {
    position: relative;
    padding: 10px;
    padding-left: 12px;
    display: inline-block;
    z-index: 1;
    transition: 0.5s;
}


.Recipes ul li:hover:before {
    transform: scaleX(1);
}

.Recipes {
    position: relative;
}

.footer {
    position: absolute;
    left: 10px;
    bottom: 5px;
    right: 10px;
    width: 100%;
    height: 2%;
    background-color: lightblue;
    color: black;
    text-align: center;
}